*{
    font-family: Arial;
}
h1{
    margin-left:20px;
}
body{
    background-image:url("background\ image.webp");
}
form{
    background-color: white;
    margin-left:45%;
    margin-top:10%;
    width:300px;
    border:1px solid black;
    padding:30px;
}
select{
    margin-bottom:10px;
}
input{
    margin-bottom:20px;
    border-radius:5px;
    padding:8px 50px;
}
#btn{
    background-color:rgb(27, 155, 214);
    color:white;
    border-radius:3px;
    padding:7px 20px;
    margin-left: 110px;
    margin-top:5px;

}
textarea{
    border-radius:5px;
    
}

#btn:hover{
    background-color: rgb(29, 118, 190);
}

