*{
    font-family: arial;
}
body{
    background-image: url("background\ image.webp");
}
.container{
    background-color: white;;
    border:1px solid black;
    margin:10% auto;
    width:250px;
    padding:30px;
}
h1{
    margin-left:80px;
    font-family:arial;
}
#btn{
    background-color:rgb(27, 155, 214);
    color:white;
    border-radius:3px;
    padding:7px 79px;
    margin-bottom: 15px;
    margin-top:10px;
    margin-left:30px;
    
}
input{
    margin-bottom:10px;
    padding:8px 30px;
    margin-left:10px;
    border-radius:5px;
}
label{
    margin-left:10px;
}

#btn:hover{
    background-color: rgb(29, 118, 190);
}