*{
    font-family: Arial;
}
body{
    background-image: url("background\ image.webp");
}
form{
    background-color: white;
    margin:10% auto;
    border:1px solid black;
    width:250px;
    padding: 15px;
}
h1{
    margin-left:20px;
    font-family: Arial;
}
input{
    margin-bottom:12px;
    border-radius:5px;
    padding:8px 30px;
}

#btn{
    margin-left: 85px;
    border-radius:5px;
    padding:5px 10px;
    background-color:rgb(27, 155, 214);
    color:white;
    }
a{
    font-size: small;
    margin-left:10px;
}
#btn:hover{
    background-color: rgb(29, 118, 190);
}

a:hover{
     font-weight: bold;
}