.header {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 7rem;

  /* background-image: linear-gradient(
    to bottom right,
    #3da1edb9,
    rgb(255, 255, 255)
  ); */

  background-color:#3da1edb9 ;
}

.logo {
  font-size: 2rem;

  /* color: white; */
  font-family: "Fira", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
.lists {
  width: 80%;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.lists a {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
  color: #000000b1;
}

.btn {
  background-color: #202020;
  color: #feffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 650;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #feffff;
  color: #202020;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 1.5rem;
  }
}
